motivation of this notebook is  create a new feature per user, as avarage rating for each genres

In [65]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import csv

In [66]:
df_user = pd.read_csv('ratings.csv')
df_user = df_user.drop(columns=['timestamp'])
df_movies = pd.read_csv("Movies_encoded.csv")
df_user.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [67]:
df_movies.head()

,movieId,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,2,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,4,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,5,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [68]:
user_1_data = df_user[df_user['userId'] == 1]
print(user_1_data)

     userId  movieId  rating
0         1        1     4.0
1         1        3     4.0
2         1        6     4.0
3         1       47     5.0
4         1       50     5.0
..      ...      ...     ...
227       1     3744     4.0
228       1     3793     5.0
229       1     3809     4.0
230       1     4006     4.0
231       1     5060     5.0

[232 rows x 3 columns]

In [69]:
combined_df = pd.merge(df_user, df_movies, on='movieId')
combined_df.head()

,userId,movieId,rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1,4.0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,3,4.0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
2,1,6,4.0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,1,47,5.0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,1,50,5.0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0

In [70]:
genras = ['Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

for column in genras:
    combined_df[column] = combined_df.apply(lambda row: row['rating'] if row[column] == 1 else row[column], axis=1)

In [71]:
combined_df.head(1000)

,userId,movieId,rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1,4.0,0.0,4.0,4.0,4.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,3,4.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
2,1,6,4.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
3,1,47,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,0.0,0.0,5.0,0.0,0.0
4,1,50,5.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,5.0,0.0,0.0,5.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,7,8972,2.5,2.5,2.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.5,0.0,0.0,2.5,0.0,0.0
996,7,8984,4.0,4.0,0.0,0.0,0.0,4.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
997,7,27741,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
998,7,30812,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
999,7,30816,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0

In [72]:
user_ratings = combined_df[combined_df['userId'] == 100]
user_ratings.head()

,userId,movieId,rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
15300,100,3,3.5,0.0,0.0,0.0,0.0,3.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0
15301,100,11,4.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
15302,100,16,4.5,0.0,0.0,0.0,0.0,0.0,4.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15303,100,17,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.5,0.0,0.0,0.0,0.0
15304,100,19,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [73]:
# Filter the DataFrame to include only rows where the 'Action' column has non-zero values
action_ratings = user_ratings[user_ratings['Action'] != 0]

# Calculate the average rating for the 'Action' genre
average_action_rating = round(action_ratings['Action'].mean(),2)

print(f"Average rating for 'Action' genre: {average_action_rating}")

Average rating for 'Action' genre: 3.98

In [74]:
for column in genras:
    genre_ratings = user_ratings[user_ratings[column] != 0]
    average_rating = round(genre_ratings[column].mean(),2)
    print(f"Average rating for '{column}' genre: {average_rating}")

Average rating for 'Action' genre: 3.98
Average rating for 'Adventure' genre: 4.03
Average rating for 'Animation' genre: 3.5
Average rating for 'Children' genre: 4.0
Average rating for 'Comedy' genre: 3.93
Average rating for 'Crime' genre: 4.12
Average rating for 'Documentary' genre: nan
Average rating for 'Drama' genre: 3.98
Average rating for 'Fantasy' genre: 3.95
Average rating for 'Film-Noir' genre: nan
Average rating for 'Horror' genre: 2.4
Average rating for 'IMAX' genre: 4.5
Average rating for 'Musical' genre: 4.08
Average rating for 'Mystery' genre: 3.7
Average rating for 'Romance' genre: 4.09
Average rating for 'Sci-Fi' genre: 3.57
Average rating for 'Thriller' genre: 3.63
Average rating for 'War' genre: 4.0
Average rating for 'Western' genre: 4.3

In [75]:
def calculateRatings(userid):
    avg_array =[]
    user_ratings = combined_df[combined_df['userId'] == userid]
    genras = ['Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

    for column in genras:
        genre_ratings = user_ratings[user_ratings[column] != 0]
        average_rating = round(genre_ratings[column].mean(),2)
        avg_array.append(average_rating)
    return avg_array

In [76]:
user_ratings = pd.read_csv("ratings.csv")

user_ratings.head(100)

    userId  movieId  rating  timestamp
0        1        1     4.0  964982703
1        1        3     4.0  964981247
2        1        6     4.0  964982224
3        1       47     5.0  964983815
4        1       50     5.0  964982931
..     ...      ...     ...        ...
95       1     1445     3.0  964984112
96       1     1473     4.0  964980875
97       1     1500     4.0  964980985
98       1     1517     5.0  964981107
99       1     1552     4.0  964982620

[100 rows x 4 columns]

In [77]:
# Group the DataFrame by 'userId' and calculate the mean of the 'rating' column
average_rating_per_user = user_ratings.groupby('userId')['rating'].mean().reset_index().round(2)

# Rename the columns for clarity
average_rating_per_user.columns = ['userId', 'average_rating']

# Display the new DataFrame
print(average_rating_per_user)

     userId  average_rating
0         1            4.37
1         2            3.95
2         3            2.44
3         4            3.56
4         5            3.64
..      ...             ...
605     606            3.66
606     607            3.79
607     608            3.13
608     609            3.27
609     610            3.69

[610 rows x 2 columns]

In [78]:
average_rating_per_user[average_rating_per_user['userId'] == 1]['average_rating'].values[0]

4.37

In [79]:
# Initialize an empty DataFrame
all_user_ratings = pd.DataFrame()
user_ratings = pd.read_csv("ratings.csv")

# Loop through each user ID and calculate ratings
for userId_item in range(1, 611):
    ratings = calculateRatings(userId_item)
    user_id_data = user_ratings[user_ratings['userId'] == userId_item]
    avg_user_rateData = average_rating_per_user[average_rating_per_user['userId'] == userId_item]['average_rating'].values[0]
    # Count the number of columns in the filtered DataFrame
    num_columns = user_id_data.shape[0]

    data = {'userId': [userId_item] ,'RatingsSum':[num_columns],"avgRate":[avg_user_rateData], 'Action':[ratings[0]], 'Adventure':[ratings[1]], 'Animation':[ratings[2]], 'Children':[ratings[3]], 'Comedy':[ratings[4]], 'Crime':[ratings[5]], 'Documentary':[ratings[6]], 'Drama':[ratings[7]], 'Fantasy':[ratings[8]], 'Film-Noir':[ratings[9]], 'Horror':[ratings[10]], 'IMAX':[ratings[11]], 'Musical':[ratings[12]], 'Mystery':[ratings[13]], 'Romance':[ratings[14]], 'Sci-Fi':[ratings[15]], 'Thriller':[ratings[16]], 'War':[ratings[17]], 'Western':[ratings[18]]}
    df = pd.DataFrame(data)
    all_user_ratings = pd.concat([all_user_ratings, df], ignore_index=True)


# Save the pivoted DataFrame to a CSV file
all_user_ratings.to_csv('all_user_ratings.csv', index=False)

print("Data saved to all_user_ratings.csv")

Data saved to all_user_ratings.csv

In [80]:
combined_df.head()

,userId,movieId,rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1,4.0,0.0,4.0,4.0,4.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,3,4.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
2,1,6,4.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
3,1,47,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,0.0,0.0,5.0,0.0,0.0
4,1,50,5.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,5.0,0.0,0.0,5.0,0.0,0.0

In [81]:
user_avgGenras = pd.read_csv("all_user_ratings.csv")
user_avgGenras.fillna(0, inplace=True)
user_avgGenras.head()

,userId,RatingsSum,avgRate,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,0.00,...,5.0,3.47,0.00,4.68,4.17,4.31,4.22,4.15,4.50,4.29
1,2,29,3.95,3.95,4.17,0.00,0.00,4.00,3.80,4.33,...,0.0,3.00,3.75,0.00,4.00,4.50,3.88,3.70,4.50,3.50
2,3,39,2.44,3.57,2.73,0.50,0.50,1.00,0.50,0.00,...,0.0,4.69,0.00,0.50,5.00,0.50,4.20,4.14,0.50,0.00
3,4,216,3.56,3.32,3.66,4.00,3.80,3.51,3.81,4.00,...,4.0,4.25,3.00,4.00,3.48,3.38,2.83,3.55,3.57,3.80
4,5,44,3.64,3.11,3.25,4.33,4.11,3.47,3.83,0.00,...,0.0,3.00,3.67,4.40,4.00,3.09,2.50,3.56,3.33,3.00

In [88]:
# Merge the DataFrames on 'userId'
combined_ratings = pd.merge(user_ratings, user_avgGenras, on='userId')

combined_ratings.drop(columns=['timestamp'], inplace=True)
# Display the combined DataFrame
combined_ratings.head(23)

,userId,movieId,rating,RatingsSum,avgRate,Action,Adventure,Animation,Children,Comedy,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1,4.0,232,4.37,4.32,4.39,4.69,4.55,4.28,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
1,1,3,4.0,232,4.37,4.32,4.39,4.69,4.55,4.28,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
2,1,6,4.0,232,4.37,4.32,4.39,4.69,4.55,4.28,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
3,1,47,5.0,232,4.37,4.32,4.39,4.69,4.55,4.28,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
4,1,50,5.0,232,4.37,4.32,4.39,4.69,4.55,4.28,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
5,1,70,3.0,232,4.37,4.32,4.39,4.69,4.55,4.28,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
6,1,101,5.0,232,4.37,4.32,4.39,4.69,4.55,4.28,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
7,1,110,4.0,232,4.37,4.32,4.39,4.69,4.55,4.28,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
8,1,151,5.0,232,4.37,4.32,4.39,4.69,4.55,4.28,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
9,1,157,5.0,232,4.37,4.32,4.39,4.69,4.55,4.28,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
10,1,163,5.0,232,4.37,4.32,4.39,4.69,4.55,4.28,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
11,1,216,5.0,232,4.37,4.32,4.39,4.69,4.55,4.28,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
12,1,223,3.0,232,4.37,4.32,4.39,4.69,4.55,4.28,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
13,1,231,5.0,232,4.37,4.32,4.39,4.69,4.55,4.28,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
14,1,235,4.0,232,4.37,4.32,4.39,4.69,4.55,4.28,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
15,1,260,5.0,232,4.37,4.32,4.39,4.69,4.55,4.28,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
16,1,296,3.0,232,4.37,4.32,4.39,4.69,4.55,4.28,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
17,1,316,3.0,232,4.37,4.32,4.39,4.69,4.55,4.28,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
18,1,333,5.0,232,4.37,4.32,4.39,4.69,4.55,4.28,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
19,1,349,4.0,232,4.37,4.32,4.39,4.69,4.55,4.28,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
20,1,356,4.0,232,4.37,4.32,4.39,4.69,4.55,4.28,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
21,1,362,5.0,232,4.37,4.32,4.39,4.69,4.55,4.28,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
22,1,367,4.0,232,4.37,4.32,4.39,4.69,4.55,4.28,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29

In [91]:
rating_df = combined_ratings[['rating']]

rating_df.to_csv('y_train.csv', index=False)
rating_df.head()

   rating
0     4.0
1     4.0
2     4.0
3     5.0
4     5.0

In [92]:
combined_ratings.drop(columns=['rating'], inplace=True)
combined_ratings.head(23)

,userId,movieId,RatingsSum,avgRate,Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
1,1,3,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
2,1,6,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
3,1,47,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
4,1,50,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
5,1,70,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
6,1,101,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
7,1,110,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
8,1,151,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
9,1,157,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
10,1,163,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
11,1,216,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
12,1,223,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
13,1,231,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
14,1,235,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
15,1,260,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
16,1,296,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
17,1,316,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
18,1,333,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
19,1,349,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
20,1,356,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
21,1,362,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
22,1,367,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29

In [93]:
combined_ratings.drop(columns=['movieId'], inplace=True)
combined_ratings.head(23)

,userId,RatingsSum,avgRate,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,0.0,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
1,1,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,0.0,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
2,1,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,0.0,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
3,1,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,0.0,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
4,1,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,0.0,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
5,1,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,0.0,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
6,1,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,0.0,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
7,1,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,0.0,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
8,1,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,0.0,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
9,1,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,0.0,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
10,1,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,0.0,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
11,1,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,0.0,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
12,1,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,0.0,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
13,1,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,0.0,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
14,1,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,0.0,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
15,1,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,0.0,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
16,1,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,0.0,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
17,1,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,0.0,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
18,1,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,0.0,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
19,1,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,0.0,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
20,1,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,0.0,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
21,1,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,0.0,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29
22,1,232,4.37,4.32,4.39,4.69,4.55,4.28,4.36,0.0,...,5.0,3.47,0.0,4.68,4.17,4.31,4.22,4.15,4.5,4.29

In [94]:
combined_ratings.to_csv('user_train.csv', index=False)