In [1]:
import pandas as pd
import numpy as np
import csv

In [5]:
links_df = pd.read_csv('links.csv')
movies_df = pd.read_csv('movies.csv')
links_df.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [10]:
godfather_movies = movies_df[movies_df['title'].str.contains('Master and Commander: The Far Side of the World')]
godfather_movies

,movieId,title,genres
4648,6947,Master and Commander: The Far Side of the Worl...,Adventure|Drama|War

In [2]:
import re

In [42]:
def formatTxtx(movie_input):
    # Handle input strings by converting them to a common format
    if isinstance(movie_input, str):
        tempFormatedarr =[]
        formatted_movies =[]
        # formatted_movies = [re.sub(r'\s*\(\d{4}\)', '', movie) for movie in movie_input]
        # Remove curly braces or brackets if any
        movie_input = movie_input.replace("{", "").replace("}", "")
        movie_input = movie_input.replace("[", "").replace("]", "")
        
        # Split the string by commas but keep the parentheses together
        movies = re.findall(r'"([^"]+)"|\(([^)]+)\)', movie_input)
        tempFormatedarr = [m[0] if m[0] else m[1] for m in movies]
        for item in tempFormatedarr:
            formatted_movies.append(re.sub(r'\s*\(\d{4}\)', '', item))
        # Split the string into movie titles
        movie_titles = re.split(r',\s*', movie_input)
        
        # Remove any leading or trailing quotes
        movie_titles = [title.strip('"') for title in movie_titles]
        
    elif isinstance(movie_input, list) or isinstance(movie_input, set):
        tempFormatedarr =[]
        for item in movie_input:
        # If it's already a list or set, we just need to format it properly
            tempFormatedarr.append(re.sub(r'\s*\(\d{4}\)', '', item))
        # print('already a list or set, we just need to format it properly')
        formatted_movies = tempFormatedarr
        
    else:
        raise ValueError("Unsupported input type")
    
    # formatted_movies = [re.sub(r'\s*\(\d{4}\)', '', movie) for movie in formatted_movies]

    
    return formatted_movies

In [43]:
test1 = '"The Age of Adaline", "Pride and Prejudice", "Atonement", "The Notebook", "Shakespeare in Love", "Outlander", "The English Patient", "Titanic", "The King\'s Speech"'
test2 = '"The Shawshank Redemption (1994)", "Life is Beautiful (1997)", "The Green Mile (1999)", "Rudy (1993)", "It\'s a Wonderful Life (1946)"'
test3 = {"Sense and Sensibility (1995)", "Emma (2020)", "Northanger Abbey (2007)", "The Importance of Being Earnest (2002)"}
test4 = ["Sense and Sensibility (1995)", "Emma (2020)", "Northanger Abbey (2007)", "The Importance of Being Earnest (2002)"]

print(formatTxtx(test1))
print(formatTxtx(test2))
print(formatTxtx(test3))
print(formatTxtx(test4))

['The Age of Adaline', 'Pride and Prejudice', 'Atonement', 'The Notebook', 'Shakespeare in Love', 'Outlander', 'The English Patient', 'Titanic', "The King's Speech"]
['The Shawshank Redemption', 'Life is Beautiful', 'The Green Mile', 'Rudy', "It's a Wonderful Life"]
['Northanger Abbey', 'The Importance of Being Earnest', 'Emma', 'Sense and Sensibility']
['Sense and Sensibility', 'Emma', 'Northanger Abbey', 'The Importance of Being Earnest']

In [22]:
test1 = '"The Age of Adaline", "Pride and Prejudice", "Atonement", "The Notebook", "Shakespeare in Love", "Outlander", "The English Patient", "Titanic", "The King\'s Speech"'
test4 = ["Sense and Sensibility (1995)", "Emma (2020)", "Northanger Abbey (2007)", "The Importance of Being Earnest (2002)"]

movie_titles = re.split(r',\s*', test4)
movie_input = test1.replace("{", "").replace("}", "")
movie_input = ovie_input.replace("[", "").replace("]", "")

print(movie_titles)

AttributeError: 'list' object has no attribute 'replace'

In [36]:
test4 = ["Sense and Sensibility (1995)", "Emma (2020)", "Northanger Abbey (2007)", "The Importance of Being Earnest (2002)"]
for item in test4:
    formatted_movies = re.sub(r'\s*\(\d{4}\)', '', item)
    print(formatted_movies)
formatted_movies2 = [re.sub(r'\s*\(\d{4}\)', '', test4)]
print(formatted_movies2)

Sense and Sensibility
Emma
Northanger Abbey
The Importance of Being Earnest

TypeError: expected string or bytes-like object, got 'list'