In [2]:
import pandas as pd
import numpy as np
import csv

In [5]:
links_df = pd.read_csv('links.csv')
movies_df = pd.read_csv('movies.csv')
links_df.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [10]:
godfather_movies = movies_df[movies_df['title'].str.contains('Master and Commander: The Far Side of the World')]
godfather_movies

,movieId,title,genres
4648,6947,Master and Commander: The Far Side of the Worl...,Adventure|Drama|War